<%= form_for(@plato) do |f| %>
  <% if @plato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plato.errors.count, "error") %> prohibited this plato from being saved:</h2>

      <ul>
      <% @plato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%=f.select :categoria, options_for_select([["Básico 1", "Básico 1"], ["Básico 2", "Básico 2"], ["Vegetariano", "Vegetariano"]])%>
  </div>
  <!--div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%=f.label :calificaciones %><br>
    <%= f.number_field :calificaciones %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div-->
  <div class="field">
    <%= f.label :soda_id %><br>
    <%=f.select :soda_id, options_for_select([["Odontología", "1"], ["Derecho", "2"], ["Economía", "3"], ["Agronomía", "4"], ["Generales", "5"], ["Educación", "6"], ["Sociales", "7"], ["Comedor", "8"]])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
