<h1>Listing acompanamientos</h1>

<table>
  <thead>
    <tr>
      <th>Acompanamientos</th>
      <th>Dia</th>
      <th>Semana</th>
      <th>Soda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acompanamientos.each do |acompanamiento| %>
      <tr>
        <td><%= acompanamiento.acompanamientos %></td>
        <td><%= acompanamiento.dia %></td>
        <td><%= acompanamiento.semana %></td>
        <td><%= acompanamiento.soda_id %></td>
        <td><%= link_to 'Show', acompanamiento %></td>
        <td><%= link_to 'Edit', edit_acompanamiento_path(acompanamiento) %></td>
        <td><%= link_to 'Destroy', acompanamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acompanamiento', new_acompanamiento_path %>
